<!-- filepath: /c:/proyectoAngular/Api-angular-monica/frontend/src/app/peticion/index/index.component.html -->
<div class="container mt-4 my-5">
    <div *ngIf="isLoading" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="errors" class="alert alert-danger" role="alert">
    {{ errors }}
  </div>

  <div *ngIf="!isLoading"  class="container mt-4">
    <div *ngFor="let peticion of peticiones" class="card mb-3">
      <div class="row g-0">

        <div class="col-md-4" *ngIf="peticion.file && peticion.file.file_path">
          <img [src]="'http://127.0.0.1:8000/storage/' + peticion.file.file_path" class="img-fluid rounded-start" alt="Imagen de la petición">
        </div>
  
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ peticion.titulo }}</h5>
            <p class="card-text">{{ peticion.descripcion }}</p>
            <p class="card-text"><small class="text-muted">Firmas: {{ peticion.firmantes }}</small></p>
            <p class="card-text"><small class="text-muted">Usuario:{{peticion.user_id}}</small></p>
            <p class="card-text"><small class="text-muted">{{peticion.id}}</small></p>
            <a [routerLink]="['/peticiones/', peticion.id]" class="btn btn-danger btn-sm">+Info</a>
            <ng-container *ngIf="isSignedIn">
              <button class="btn btn-primary btn-sm ms-2" (click)="onFirmarPeticion(peticion.id)">
                <i class="bi bi-feather"></i> Firmar
              </button>
              <ng-container *ngIf="isOwner(peticion.user_id) || this.user.role_id == 1">
                <button class="btn btn-danger btn-sm ms-2" (click)="onDelete(peticion.id)">
                  <i class="bi bi-trash"></i> Eliminar
                </button>
              <a [routerLink]="['/peticiones-edit', peticion.id]" class="btn btn-success btn-sm ms-2">
                <i class="bi bi-download"></i> Editar
              </a>
              </ng-container>
              <ng-container *ngIf="this.user.role_id == 1">
                <button class="btn btn-warning btn-sm ms-2" (click)="onEstado(peticion.id)">
                  <i class="bi bi-capslock"></i> cambiar Estado
                </button>
              </ng-container>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>